body h1 {
    text-align: center;
    color: rgb(10, 117, 150);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #111111;   
}

table {
    width: 800px;
    border-collapse: collapse;
    border: 1.5px solid rgb(10, 117, 150);  
    margin: 0 auto; 
    
}

th, td {
    padding: 7px 10px 10px 10px;
    border-bottom: 0.5px solid rgb(10, 117, 150); 
}

th {
    background-color: rgb(20, 190, 241);
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 1px solid rgb(10, 117, 150);
    border-top: 1px solid rgb(10, 117, 150);
    border-left: 1px solid rgb(10, 117, 150);
    border-right: 1px solid rgb(10, 117, 150);
    text-align: center;
}

.selector {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

